@-ms-viewport {
  width: device-width;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #D96459;
}
@media (min-width: 400px) {
  .username input {
    margin: 0 auto;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 18%;
  }
}
#main-page-header {
  background-color: #F2AE72;
}
#main-page-header .Logo {
  font-size: 3em;
}
#userList {
  background-color: #F2E394;
  width: 24%;
  position: absolute;
  left: 0px;
  bottom: 0;
  border: 1.7px solid #F2AE72;
  box-shadow: 0 8px 6px 1.3px black;
}
#userList .UserListHeader {
  margin-bottom: 10px;
  border-bottom: 1.7px solid #F2AE72;
  height: 2.5em;
  -moz-box-shadow: inset 0 0 4px #F2AE72;
  -webkit-box-shadow: inset 0 0 4px #F2AE72;
  box-shadow: inset 0 0 4px #F2AE72;
}
#userList ul {
  margin-left: 11%;
  list-style: none;
  clear: both;
}
#userList ul li {
  font-size: 1em;
  border: 1px solid whitesmoke;
  width: 76%;
  padding: 3.1%;
  padding-left: 7%;
}
#userList ul li:hover {
  border-color: #F2AE72;
}
#userList h5 {
  margin-left: 14%;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  width: 100%;
}
#Welcome-Container {
  background-color: #D96459;
  width: 60%;
  height: 22em;
  font-family: 'Amatic SC', cursive;
  float: right;
  font-weight: 700;
}
#Welcome-Container .username {
  margin-left: 40%;
  margin-top: 25%;
  margin-right: 40%;
}
#Welcome-Container #quote {
  width: 40%;
  margin-left: 32%;
  margin-top: 14%;
  background-color: floralwhite;
  padding: 1.3em;
  border-radius: 11%;
  color: black;
  font-size: 1.1em;
  box-shadow: inset 0 0 1px 1px #F2AE72;
}
#Welcome-Container p {
  background: floralwhite;
  margin-bottom: -9%;
  margin-top: 7%;
  margin-left: 1%;
  width: 36%;
  padding: 0.9em;
  text-align: center;
  border-radius: 19%;
  box-shadow: inset 0 0 1px 1px #F2AE72;
}
@media (min-width: 1200px) {
  #author {
    float: right;
    margin-right: 19%;
  }
}
#prvBoxarea {
  width: 68%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 355px;
}
.PrivateMessageBox {
  border: 1px solid #F2AE72;
  float: right;
  margin-right: 1.9%;
  margin-left: 0;
  height: 355px;
  box-shadow: 0 8px 6px -6px black;
}
.PrivateMessageBox .top-bar {
  height: 15%;
  padding: 4.8%;
  padding-right: 0.5%;
  background-color: #588C73;
  border: 1px solid #F2AE72;
}
.PrivateMessageBox .top-bar h4 {
  float: left;
  margin: 0 auto;
  margin-left: 3%;
  margin-top: -3.5%;
  font-size: 2.2em;
  font-family: 'Amatic SC', cursive;
  color: #F2E394;
  width: 50%;
  letter-spacing: 0.049em;
  font-weight: 900;
}
.PrivateMessageBox .top-bar i {
  color: #F2E394;
}
.PrivateMessageBox .top-bar .removeButton {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
}
.PrivateMessageBox .top-bar #chatButtonUl {
  list-style: none;
  font-size: 1.3em;
  display: block;
  float: right;
  margin-right: 9%;
  height: 14px;
}
.PrivateMessageBox .top-bar #chatButtonUl li {
  width: 20%;
  display: inline-block;
}
.PrivateMessageBox .top-bar #chatButtonUl .fa-pencil {
  margin-left: -208%;
}
.PrivateMessageBox .prvSend {
  margin-bottom: 0;
  height: 63px;
  border-top: 0.8px solid #F2AE72;
  border-left: 0;
}
.PrivateMessageBox:focus {
  border: 1px solid #F2AE72;
}
.PrivateMessageBox .PrivateMessage {
  width: 100%;
  height: 67%;
  overflow: auto;
  background-color: floralwhite;
}
.PrivateMessageBox .PrivateMessage p {
  font-size: 0.8em;
  margin-bottom: 0.1em;
  color: black;
  margin-left: 2.8%;
  width: 80%;
  margin-top: 0.2em;
}
.PrivateMessageBox .PrivateMessage .Sender {
  color: #588C73;
  font-weight: bold;
}
.PrivateMessageBox .PrivateMessage .Reciepient {
  color: #8C4646;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .PrivateMessageBox {
    width: 25.666667% !important;
  }
}
#dialog {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
}
#dialogClosed {
  opacity: 0;
}
#dialog #button-modal {
  width: 47%;
  height: 190px;
  margin-left: 28%;
  z-index: 200;
  background-color: #fff;
  margin-top: 14%;
  border: 2px solid rgba(250, 250, 250, 0.8);
  box-shadow: 1px 2px 3px 50rem rgba(82, 74, 74, 0.63);
}
#dialog #button-modal button {
  margin-top: 14%;
  margin-left: 22%;
  margin-right: -13%;
}
#Room {
  background-color: #D96459;
  height: 100%;
  width: 100%;
  position: absolute;
}
#Room #RoomUser {
  width: 26%;
  float: left;
  margin-right: 1%;
  height: 200px;
}
#Room #RoomUser h4 {
  margin-left: 13%;
  margin-top: 7%;
}
#Room #PoemArea {
  float: left;
  width: 40%;
  background-color: floralwhite;
  height: 98%;
  padding: 0.5%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  resize: none;
  outline: none;
  border-radius: 20%;
  border: 3px solid #8C4646;
}
#Room #peomContainer {
  float: right;
  width: 25%;
}
#Room #peomContainer #timer {
  width: 58%;
  margin-bottom: 0px;
}
#Room #peomContainer button {
  margin-left: 9%;
  margin-top: 20%;
}
#Room #peomContainer #saveButton {
  margin-top: 14%;
  margin-left: 0;
  margin-right: 5%;
}
#poemsArea {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  resize: none;
}
#poemsArea p {
  margin-bottom: 0 !important;
  margin: 0;
}
textarea {
  resize: none;
  width: 75%;
  height: 66.239%;
  position: absolute;
  background: transparent;
  color: transparent;
  top: 0;
  border: none !important;
  overflow: auto;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.blinking-cursor {
  margin-left: -4px;
  font-weight: 100;
  font-size: 1em;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
#FormContainer {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
#FormContainer ul li {
  display: inline-block;
  margin-right: 4rem;
}
#FormContainer #FormModal {
  width: 47%;
  height: 35%;
  margin-left: 19%;
  z-index: 200;
  background-color: #fff;
  margin-top: 14%;
  border: 2px solid rgba(250, 250, 250, 0.8);
  box-shadow: 1px 2px 3px 50rem rgba(82, 74, 74, 0.63);
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 8%;
}
#FormContainer #FormModal span {
  color: #D96459;
}
#FormContainer #FormModal input {
  margin-right: 3%;
}
#FormContainer #FormModal button {
  margin: 0;
}
/* Portrait */
